@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

html {
	overflow-x: hidden;
	width: 100%;
}

::view-transition-old(root),
::view-transition-new(root) {
	animation: none;
	mix-blend-mode: normal;
}

@theme inline {
	--animate-gradient: gradient 8s linear infinite;
	@keyframes gradient {
		to {
			background-position: var(--bg-size, 300%) 0;
		}
	}
}
